
# Generated
*.o
*.a
*.out
*.elf
*.bin
*.hex
*.so
*.so.0*
*.elf
core

# Eclipse
.project
.cproject
.settings
.metadata

# Visual Studio Code
.vscode

# CMake
build
build-rpi
bin

.pydevproject
.metadata
.settings
.metadata


.~lock.BaumhausSensorDocumentation.ods#
