
# Generated
*.o
*.a
*.out
*.elf
*.bin
*.hex
*.so
*.so.0*

# Eclipse
.project
.cproject
.settings
.metadata


.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/tasks.json
.vscode/settings.json
